
Train Horror Game/Temp/UnityLockfile
Train Horror Game/Library/shadercompiler-UnityShaderCompiler.exe2.log
Train Horror Game/Library/shadercompiler-UnityShaderCompiler.exe1.log
Train Horror Game/Library/shadercompiler-UnityShaderCompiler.exe2.log
*.log
Train Horror Game/Library/assetDatabase3
Train Horror Game/obj/Debug/Assembly-CSharp.csproj.CoreCompileInputs.cache
Train Horror Game/Library/StateCache/Hierarchy/80c0c9-mainStage.json
Train Horror Game/Library/ScriptAssemblies/BuiltinAssemblies.stamp
Train Horror Game/Library/ScriptAssemblies/Assembly-CSharp.pdb
Train Horror Game/Library/ScriptAssemblies/Assembly-CSharp.dll
